{% extends "base.html" %} {% block title %}
Signup
{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Signup</h3>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Enter Username">
        <label for="password1">Password</label>
        <input type="password" id="password1" name="password" class="form-control" placeholder="Enter Password">
        <label for="password2">Confirm Password</label>
        <input type="password" id="password2" name="password" class="form-control" placeholder="Confirm Password">
        <br />
        <div align="center">
            <button class="btn btn-primary" type="submit">Signup</button>
        </div>
    </div>
</form>
{% endblock %}